/* settings applied to the whole page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* settings applied to body tag */
body {
    background-color: #d9dcd6;
}

/* settings applied to attribute class="header" */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* settings applied to attribute class="header" and tag h1 */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* settings applied to attributes class="header", class="seo" and tag h1 */
.header h1 .seo {
    color: #d9dcd6;
}

/* settings applied to attribute class="header" and tag div */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* settings applied to attribute class="header" and tags h1, ul */
.header div ul {
    list-style-type: none;
}

/* settings applied to attribute class="header" and tags div, ul, li */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* settings applied to tag a */
a {
    color: #ffffff;
    text-decoration: none;
}

/* settings applying to tag p */
p {
    font-size: 16px;
}

/* settings applied to attribute class="hero" */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* settings applied to attribute class="float-left" */
.float-left {
    float: left;
    margin-right: 25px;
}

/* settings applied to attribute class="float-right" */
.float-right {
    float: right;
    margin-left: 25px;
}

/* settings applied to attribute class="content" */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* settings applied to attribute class="benefits" */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* settings applied to attribute class="benefit-lead" */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* settings applied to attribute class="benefit-brand`" */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* settings applied to attribute class="benefit-cost" */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* settings applied to attribute class="benefit-lead" and tag h3 */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* settings applied to attribute class="benefit-brand" and tag h3 */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* settings applied to attribute class="benefit-cost" and tag h3 */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* settings applied to attribute class="benefit-lead" and tag img */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* settings applied to attribute class="benefit-brand" and tag img */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* settings applied to attribute class="benefit-cost" */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* settings applied to attribute class="search-engine-optimization" */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* settings applied to attribute class="online-reputation-management" */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* settings applied to attribute class="social-media-marketing" */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* settings applied to attribute class="search-engine-optimization" and tag img */
.search-engine-optimization img {
    max-height: 200px;
}

/* settings applied to attribute class="online-reputation-management" and tag img */
.online-reputation-management img {
    max-height: 200px;
}

/* settings applied to attribute class="social-media-marketing" and tag img */
.social-media-marketing img {
    max-height: 200px;
}

/* settings applied to attribute class="search-engine-optimization" and tag h2 */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* settings applied to attribute class="online-reputation-management" and tag h2 */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* settings applied to attribute class="social-media-marketing" and tag h2 */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* settings applied to attribute class="footer" */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* settings applied to attributes class="footer" and tag h2 */
.footer h2 {
    font-size: 20px;
}
